<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
 <link rel="shortcut icon" href="/trr/images/favicon.ico">
  <TITLE> Privacy Policy</TITLE>
 </HEAD>

 <BODY>
 <img width=220 height=60 src="http://www.traderoar.com/images/xlogo.gif.pagespeed.ic.N6ZZhvYgLl.png"/>
<h1 style='color:#15428b;'>Thanks for joining </h1><p>Your account has been activated .Click <a href="/login.jsp">Login</a> To continue </p><span style='color:#15428b;' onclick="window.open('http://traderoar.com')"><u>admin@traderoar.com</u></span>
 </BODY>
</HTML>
