@startuml
title Update ${className} Scenario
participant User
User -> CXFServlet: PUT, ${className}
activate CXFServlet
CXFServlet -> ${className}: << create >>
activate ${className}
${className} -> CXFServlet: << instance >>
deactivate ${className}
CXFServlet -> ${className}RestImpl: update(:${classVariable})
activate ${className}RestImpl
${className}RestImpl -> ${className}ServiceDao: update(:${classVariable})
activate ${className}ServiceDao
${className}ServiceDao -> ${className}JPADao: update(:${classVariable})
activate ${className}JPADao
${className}JPADao -> EntityManager: merge(:${classVariable})
activate EntityManager
EntityManager -> ${className}JPADao: << persisted ${classVariable} >>
deactivate EntityManager
${className}JPADao -> ${className}ServiceDao: << persisted ${classVariable} >>
deactivate ${className}JPADao
${className}ServiceDao -> ${className}RestImpl: << persisted ${classVariable} >>
deactivate ${className}ServiceDao
${className}RestImpl -> CXFServlet: << persisted ${classVariable} >>
deactivate ${className}RestImpl
CXFServlet -> User: marshalled ${classVariable} XML
deactivate CXFServlet
@enduml